In [48]:
import numpy as np
import pandas as pd

In [49]:
sample = [76, 64, 62, 81, 70, 72, 81, 63, 67, 77]

In [50]:
print(f"The Mean of the sample is {np.mean(sample)}.")
print(f"The Unbiased Variance of the sample is {np.var(sample, ddof=1).round(2)}.")
print(f"The Standard Deviation of the sample is {np.sqrt(np.var(sample, ddof=1)).round(2)}.")

The Mean of the sample is 71.3.
The Unbiased Variance of the sample is 52.46.
The Standard Deviation of the sample is 7.24.

In [51]:
data = pd.Series(sample)

In [52]:
df = pd.DataFrame(data, columns = ["Blood Pressure"])

In [53]:
df = pd.DataFrame(data, columns = ["Blood Pressure"])
df["Deviation From Mean"] = df["Blood Pressure"] - np.mean(df["Blood Pressure"])
df["Square Deviation"] = df["Deviation From Mean"]**2

In [54]:
df

   Blood Pressure  Deviation From Mean  Square Deviation
0              76                  4.7             22.09
1              64                 -7.3             53.29
2              62                 -9.3             86.49
3              81                  9.7             94.09
4              70                 -1.3              1.69
5              72                  0.7              0.49
6              81                  9.7             94.09
7              63                 -8.3             68.89
8              67                 -4.3             18.49
9              77                  5.7             32.49